h1 {
    margin-top: 50px;
    margin-bottom: 60px;
    font-style: italic;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
    padding: 40px 10px;
    border: solid 2px #000000;
    border-radius: 30px;
    
    
}

.form label { 
    display: block;
    font-size: 14px;
    font-style: italic;
    color: #000000;
    font-weight: bold;
}

.form div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 80%;
}

.form input {
    width: 60%;
    height: 30px;
    background-color: transparent;
    border: solid 1.5px #000000;
    border-radius: 10px;

}

.form input::placeholder {
    color: #000;
}

.form input:focus {
    outline: none;
}

.form textarea {
    width: 60%;
    height: 100px;
    resize: none;
    background-color: transparent;
    border: solid 1.5px #000000;
    border-radius: 10px
}

.form textarea:focus {
    outline: none;
}

.form textarea::placeholder {
    color: #000;
}

.btn {
    
    background-color: #000000;
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
}

.errors {
    color: red;
    font-style: italic;
    font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

